@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Javier Méndez Carballo<br />
    <abbr title="Phone">P:</abbr>
    620645782
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:javier.mendez@alten.es">javier.mendez@alten.es</a><br />
</address>